<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      Hi.  I'm David Dearing, an AI Software Engineer at <a href="http://stottlerhenke.com">Stottler Henke</a> in Seattle.
      We specialize in the research, design, and development of artificial intelligence-based software, including data mining, machine learning, information extraction, and natural language processing techniques.
    </p>
    <p>
      Aside from geeking out on side projects in my spare time, I also enjoy traveling to new places, brewing beer (and drinking it), hiking, snowboarding, and warily following the Mariners.
    </p>
    <p>
      I received my BS in Computer Science & Engineering from the <a href="https://www.cs.washington.edu">University of Washington, Seattle</a> in 2004.
      These days I mostly write applications in Java and Scala, but I am comfortable using a variety of languages.
    </p>
    <p>
      For more info, check out my
      <a href="{{ site.nav.main.posts }}">posts</a> and
      <a href="{{ site.nav.main.projects }}">projects</a>.
    </p>  
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
