{% capture project_title_element %}{% if include.project_title_element %}{{ include.project_title_element }}{% else %}h2{% endif %}{% endcapture %}
<div class="mxn2 clearfix mb2 py3{% unless include.exclude_divider %} border-bottom border-light-gray circle-line {% endunless %}">
  {% if include.project.image or include.project.image_url %}
  <div class="col sm-col-4 px2 mb2">
    <a href="{{ include.project.url }}" target="_blank">
      {% if include.project.image %}
        {% capture image_path %}projects/{{ include.project.image }}{% endcapture %}
        {% include image.html path=image_path alt=include.project.name class=include.project.image_class %}
      {% elsif include.project.image_url %}
        {% capture image_path %}{{ include.project.image_url }}{% endcapture %}
        {% include image.html external=true path=image_path alt=include.project.name class=include.project.image_class %}
      {% endif %}
    </a>
  </div>
  {% endif %}
  <div class="col sm-col-8 px2">
    <a href="{{ include.project.url }}" target="_blank" name="{{ include.project.name | downcase | replace:' ','-' | remove:',' }}"><{{ project_title_element }} class="mt0 mb0">{{ include.project.name }}</{{ project_title_element }}></a>
    <a href="{{ include.project.url }}" target="_blank" class="block h6 mb2">{{ include.project.url }}</a>
    <p class="left-align">{{ include.project.description }}</p>
  </div>
</div>
